#explore-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  min-height: 53px;
  max-height: 53px;
  backdrop-filter: blur(12px);
  background-color: var(--clr-bg-home-header);
}

#explore-header svg {
  width: 20px;
  height: 20px;
}

#explore-header img,
#explore-header svg {
  display: block;
}

#explore-header-back,
#explore-header-profile-picture,
#explore-header-settings {
  display: flex;
  min-width: 56px;
}

#explore-header-back {
  display: none;
}

#explore-header-profile-picture {
  justify-content: flex-start;
}

#explore-header-profile-picture img {
  width: 32px;
  height: 32px;
}

#explore-header .middle-element {
  display: flex;
  min-width: 0;
  flex-grow: 1;
}

#explore-header-settings {
  justify-content: flex-end;
}
