#profile-page {
  height: 100%;
  width: 100%;
}

#profile-page-header {
  z-index: 3;
}

#profile-page-header svg {
  width: 20px;
  height: 20px;
  display: block;
}

#profile-page-header span {
  display: block;
}

#profile-page-header .minW {
  min-width: 56px;
}

#profile-page-header span:last-child {
  font-size: var(--fs-mili);
  line-height: var(--lh-mili);
  font-weight: 400;
  color: var(--clr-font-secondary);
}

#profile-page-header span:first-child {
  font-size: 17px;
  font-weight: 700;
  color: var(--clr-font-primary);
  line-height: var(--lh-base);
}
