.tweet {
  border-bottom: 1px solid var(--clr-bg-search);
}

.tweet .tweet-top-separator {
  min-height: 12px;
}

.tweet-wrapper {
  display: flex;
  align-items: stretch;
}

img,
svg {
  display: block;
}

.tweet img,
.tweet a,
.tweet button {
  border-radius: inherit;
  width: inherit;
  height: inherit;
}

.tweet svg {
  min-width: 18.75px;
  min-height: 18.75px;
  max-width: 18.75px;
  max-height: 18.75px;
}

.tweet > button {
  display: flex;
  justify-content: stretch;
  width: 100%;
}

.tweet .tweet-profile-picture {
  display: flex;
  margin-right: 12px;
  flex-direction: column;
  align-items: center;
}

.tweet .profile-picture-wrapper {
  width: 40px;
  height: 40px;
}

.tweet .gray-line {
  display: none;
  width: 2px;
  background-color: var(--clr-bg-profile-header-pic);
  margin-top: 4px;
  flex-grow: 1;
}

.tweet .gray-line.active {
  display: flex;
}

.tweet .tweet-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  padding-bottom: 12px;
}

.tweet .tweet-row {
  display: flex;
  justify-content: space-between;
}

.tweet .profile-details {
  display: flex;
  gap: 4px;
  align-items: baseline;
  margin-bottom: 2px;
  color: var(--clr-font-secondary);
}

.tweet .profile-name {
  font-weight: 700;
  color: var(--clr-font-primary);
}

.tweet .tweet-row.tweet-actions {
  display: flex;
  margin-top: 12px;
  color: var(--clr-font-secondary);
  font-size: var(--fs-mili);
  line-height: var(--lh-mili);
  max-width: 425px;
  align-items: stretch;
}

.tweet .tweet-action > button {
  display: flex;
  justify-content: flex-start;
}
.tweet .tweet-action > button > span {
  display: flex;
  padding-left: 4px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
