#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100vw;
  z-index: 3;
  transition: left ease 250ms;
  display: flex;
}

#sidebar.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  transition: left ease 250ms;
}

#sidebar > button {
  width: 100%;
  height: 100%;
  background-color: var(--clr-bg-base-blur);
  transition: left ease 250ms, background-color ease 250ms;
}

#sidebar.active > button {
  width: 100%;
  height: 100%;
  background-color: var(--clr-bg-sidebar-blur);
  transition: left ease 250ms, background-color ease 250ms;
}

#sidebar .left {
  min-width: 280px;
  max-width: 70%;
  background-color: var(--clr-bg-base);
  height: 100%;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 8px,
    rgba(101, 119, 134, 0.25) 0px 1px 3px 1px;
}

@media only screen and (min-width: 500px) {
  #sidebar {
    display: none;
  }
}
