header {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--clr-border-primary);
  height: 53.5px;
}

header svg {
  width: 1.75rem;
}

header a.active .home-icon path {
  d: path(var(--home-active));
}

header a.active .explore-icon path {
  d: path(var(--explore-active));
}

header a.active .notifications-icon path {
  d: path(var(--notifications-active));
}

header a.active .messages-icon path {
  d: path(var(--mesages-active));
}
