#signup {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#signup-header svg {
  width: 20px;
}

#signup-header .middle {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#signup-header .middle svg {
  min-width: 32px;
}

#signup-header .filler {
  min-width: 20px;
}

#signup-content {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  justify-content: center;
  flex-grow: 1;
}

#signup-content h2 {
  margin-bottom: 38px;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
}

#signup-content label {
  border: 1px solid var(--clr-bg-profile-header-pic);
  display: flex;
  margin-top: 12px;
  border-radius: 4px;
}

#signup-content label.active {
  border-color: var(--clr-bg-blue);
  box-shadow: var(--clr-bg-blue) 0px 0px 0px 1px;
}

#signup-content label.error {
  border-color: rgb(244, 33, 46);
  box-shadow: rgb(244, 33, 46) 0px 0px 0px 1px;
  display: flex;
}

#signup-content input {
  color: inherit;
  border: none;
  font-size: 17px;
  background-color: inherit;
}

#signup-content input:focus {
  outline: none;
}

#signup-content .input-wrapper {
  position: relative;
  margin-top: 16px;
  padding: 12px 8px 8px;
}

#signup-content .input-placeholder {
  color: var(--clr-font-secondary);
  padding: 16px 8px 0px;
  line-height: 24px;
  font-size: 17px;
  position: absolute;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#signup-content .input-placeholder.active {
  color: var(--clr-bg-blue);
  padding: 8px;
  line-height: 16px;
  font-size: var(--fs-mili);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#signup-content .input-placeholder.active.no-color {
  color: var(--clr-font-secondary);
}

#signup-existing-account {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

#signup-existing-account span {
  display: flex;
}

#signup-existing-account a {
  color: var(--clr-bg-blue);
}

#signup-content .error {
  color: rgb(244, 33, 46);
  font-size: 12px;
  line-height: 15px;
  padding: 2px 8px 0px;
  display: none;
}

#signup-content .error.active {
  display: block;
}

#signup-content .button-wrapper {
  width: 100%;
  margin-top: 32px;
}

#signup-content .button-wrapper > button {
  width: 100%;
  height: 47px;
  text-align: center;
  background-color: var(--clr-bg-follow);
  color: var(--clr-font-follow);
  font-weight: 700;
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#signup-content .button-wrapper > button.active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
