.reply-tweet {
  padding: 0px 16px;
}

.reply-tweet .reply-tweet-top-separator {
  min-height: 12px;
}

.reply-tweet-repost {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: -4px 0px 4px;
  color: var(--clr-font-secondary);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}

.reply-tweet-repost > div {
  min-width: 40px;
  display: flex;
  justify-content: flex-end;
}

.reply-tweet-wrapper {
  display: flex;
  align-items: stretch;
}

img,
svg {
  display: block;
}

.reply-tweet img,
.reply-tweet a,
.reply-tweet button {
  border-radius: inherit;
  width: inherit;
  height: inherit;
}

.reply-tweet svg {
  min-width: 18.75px;
  min-height: 18.75px;
  max-width: 18.75px;
  max-height: 18.75px;
}

.reply-tweet > button {
  display: flex;
  justify-content: stretch;
  width: 100%;
}

.reply-tweet .reply-tweet-profile-picture {
  display: flex;
  margin-right: 12px;
  flex-direction: column;
  align-items: center;
}

.reply-tweet .profile-picture-wrapper {
  width: 40px;
  height: 40px;
}

.reply-tweet-gray-line {
  width: 2px;
  background-color: var(--clr-bg-profile-header-pic);
  margin-top: 4px;
  flex-grow: 1;
}

.reply-tweet .reply-tweet-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  padding-bottom: 12px;
  max-width: calc(100% - 52px);
}

.reply-tweet .reply-tweet-row {
  display: flex;
  justify-content: space-between;
}

.reply-tweet .reply-tweet-text a {
  display: inline;
  color: var(--clr-bg-blue);
}

.reply-tweet .profile-details {
  display: flex;
  gap: 4px;
  align-items: baseline;
  margin-bottom: 2px;
  color: var(--clr-font-secondary);
}

.reply-tweet .profile-name {
  font-weight: 700;
  color: var(--clr-font-primary);
}

.reply-tweet .reply-tweet-row.reply-tweet-actions {
  display: flex;
  margin-top: 12px;
  color: var(--clr-font-secondary);
  font-size: var(--fs-mili);
  line-height: var(--lh-mili);
  max-width: 425px;
  align-items: stretch;
}

.reply-tweet .reply-tweet-action > button,
.reply-tweet .reply-tweet-action > a {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.reply-tweet .reply-tweet-action > button > span,
.reply-tweet .reply-tweet-action > a > span {
  display: flex;
  padding-left: 4px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply-tweet .flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.reply-tweet .flex-column img {
  width: 100%;
  border-radius: 20px;
  margin-top: 4px;
}

.reply-tweet-action.like.active {
  color: rgb(249, 24, 128);
}

.reply-tweet-action.bookmark.active {
  color: var(--clr-bg-blue);
}

.reply-tweet-action.retweet.active {
  color: rgb(0, 186, 124);
}

.reply-tweet-options {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--clr-bg-sidebar-blur);
  z-index: 4;
  display: flex;
  flex-direction: column;
}

.reply-tweet-options > button {
  flex-grow: 1;
}

.reply-tweet-options > .wrapper {
  background-color: inherit;
}

.reply-reply-tweet-options .buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--clr-bg-base);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.reply-tweet-options .buttons div {
  padding: 16px 12px;
}

.reply-tweet-options .buttons div button {
  display: flex;
  gap: 12px;
  font-weight: 700;
}

.reply-tweet-options .buttons div button.cancel {
  border: 1px solid var(--clr-bg-profile-header-pic);
  border-radius: 9999px;
  width: 100%;
  height: 42px;
  justify-content: center;
  align-items: center;
}

.reply-tweet-options .buttons div button.delete {
  color: #f4212e;
}

.reply-tweet-image-wrapper {
  margin-top: 5px;
}
.reply-tweet-information {
  margin: 16px 0px;
  display: flex;
  color: var(--clr-font-secondary);
}

.reply-tweet-information > a {
  color: var(--clr-bg-blue);
}
