.sidebar-submenu {
  width: 100%;
}

.sidebar-submenu > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.sidebar-submenu svg {
  height: 18.75px;
  transition: transform 100ms, fill 100ms;
}

.sidebar-submenu span {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  font-weight: 700;
}

.sidebar-submenu svg.active {
  transform: rotate(-180deg);
  fill: var(--clr-bg-blue);
  transition: transform 100ms, fill 100ms;
}

.sidebar-submenu svg,
.sidebar-submenu span,
.sidebar-submenu div {
  pointer-events: none;
}
