#root-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1 1 0;
}

#main {
  flex-grow: 1;
  overflow-y: scroll;
}

@media only screen and (min-width: 500px) {
  #root-layout {
    flex-direction: row-reverse;
    justify-content: center;
  }

  #main {
    max-width: 600px;
  }
}
