#tweet-page {
  height: 100%;
  width: 100%;
  transition: top cubic-bezier(0, 0, 0, 1) 350ms;
}

#tweet-page-header {
  z-index: 3;
}

#tweet-page-header svg {
  width: 20px;
  height: 20px;
  display: block;
}

#tweet-page-header span {
  display: block;
}

#tweet-page-header .minW {
  min-width: 56px;
}

#tweet-page-header span:last-child {
  font-size: var(--fs-mili);
  line-height: var(--lh-mili);
  font-weight: 400;
  color: var(--clr-font-secondary);
}

#tweet-page-header span:first-child {
  font-size: 17px;
  font-weight: 700;
  color: var(--clr-font-primary);
  line-height: var(--lh-base);
}

#tweet-page .padded {
  padding: 0px 16px;
}
